.header {
	font-size: 28px;
	line-height: 1.5;
	margin: 60px auto;
}
.header span {
	display: block;
}
.section {
	padding: 30px 0;
}
.container, .col-lg-6 {
	/*border: 2px solid red;*/
}
.form {
	border: 5px solid #3d23c3;
	padding: 30px 20px;
}
.form-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form-btn {
	background-color: #3d23c3;
	margin: 12px auto;
}
.form input {
	margin-bottom: 12px;
}